<div class="row row-grid">
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget">
                    <div class="widget-info">
                        <a>
                           <img src="../../../../../assets/images/doctor/doctor-1.jpg"> 
                        </a>
                        <div class="profile-info">
                            <h3>Patient Name</h3>
                            <div class="patient-details">
                                <h5><b>Patient ID : </b>123</h5>
                                <h5>email@email.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="patient-info">
                    <ul>
                        <li>Phone<span>123123123</span></li>
                        <li>Gender<span>Male</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget">
                    <div class="widget-info">
                        <a>
                           <img src="../../../../../assets/images/doctor/doctor-1.jpg"> 
                        </a>
                        <div class="profile-info">
                            <h3>Patient Name</h3>
                            <div class="patient-details">
                                <h5><b>Patient ID : </b>123</h5>
                                <h5>email@email.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="patient-info">
                    <ul>
                        <li>Phone<span>123123123</span></li>
                        <li>Gender<span>Male</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget">
                    <div class="widget-info">
                        <a>
                           <img src="../../../../../assets/images/doctor/doctor-1.jpg"> 
                        </a>
                        <div class="profile-info">
                            <h3>Patient Name</h3>
                            <div class="patient-details">
                                <h5><b>Patient ID : </b>123</h5>
                                <h5>email@email.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="patient-info">
                    <ul>
                        <li>Phone<span>123123123</span></li>
                        <li>Gender<span>Male</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>