h4 {
    margin-left: 20px;
    font-weight: 500;
}
.mat-mdc-paginator {
    border: 1px solid #f0f0f0;
    border-radius: 6px;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    border-bottom: 1px solid #f0f0f0 !important;
}
.search-div {
    position: relative;
    .search-input-container {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;

        input {
            padding: 6px 112px 6px 15px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid #f0f0f0;
            color: #6b7280;
            font-weight: 500;
        }
        .button-close {
            position: absolute;
            top: 9px;
            right: 10px;
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
            color: #6b7280;
        }
    }
}
.table-container {
    margin: 20px;

    .mat-mdc-table {
        border-radius: 6px;
        border: 1px solid #f0f0f0;
        z-index: 1;
    }
}
