<div class="appointment-list">
    <div class="profile-info">
        <a class="booking-patient-img">
            <img src="../../../../../assets/images/user/user.png">
        </a>
        <div class="profile-detail">
            <h3>UserName</h3>
            <div class="details">
                <h5>appointment time</h5>
                <h5>email</h5>
                <h5>phone</h5>
            </div>
        </div>
    </div>
    <div class="appointment-action">
        <a class="button view-btn">View</a>
        <a class="button accept-btn">Accept</a>
        <a class="button cancel-btn">Cancel</a>
    </div>
</div>