<div class="appointment-area bg-image ptb-100 d-none d-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="appointment-form">
                    <h4>
                        <i class="flaticon-170-calendar-1"></i>
                        Make An Appointment
                    </h4>
                    <form [formGroup]="form" (ngSubmit)="addAppointment()">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Name"
                                formControlName="Name"
                            />
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Name')?.hasError('required') &&
                                    form.get('Name')?.touched
                                "
                            >
                                Name is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                type="email"
                                class="form-control"
                                placeholder="Email"
                                formControlName="Email"
                            />
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Email')?.hasError('required') &&
                                    form.get('Email')?.touched
                                "
                            >
                                Email is required.
                            </div>
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Email')?.hasError('email') &&
                                    form.get('Email')?.touched
                                "
                            >
                                Invalid email format.
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                type="number"
                                class="form-control"
                                placeholder="Phone"
                                formControlName="Phone"
                            />
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Phone')?.hasError('required') &&
                                    form.get('Phone')?.touched
                                "
                            >
                                Phone number is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                bsDatepicker
                                [(bsValue)]="mytime"
                                value="{{ mytime | date : 'dd-MM-yyyy' }}"
                                formControlName="Date"
                                [minDate]="mindate"
                                placeholder="Date"
                            />
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Date')?.hasError('required') &&
                                    form.get('Date')?.touched
                                "
                            >
                                Appointment date is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <button
                                type="button"
                                class="default-btn"
                                *ngFor="let time of timeList"
                                [disabled]="!time.availability"
                                (click)="setTime(time.time)"
                                [ngClass]="
                                    time.time === selectedTime ? 'selected' : ''
                                "
                            >
                                {{ time.time }}
                            </button>
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Time')?.hasError('required') &&
                                    form.get('Time')?.touched
                                "
                            >
                                Appointment time is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea
                                formControlName="Message"
                                class="form-control"
                                cols="30"
                                rows="4"
                                placeholder="Message"
                            ></textarea>
                            <div
                                class="error-message"
                                *ngIf="
                                    form.get('Message')?.hasError('required') &&
                                    form.get('Message')?.touched
                                "
                            >
                                Message is required.
                            </div>
                        </div>
                        <button
                            type="submit"
                            class="default-btn"
                            [disabled]="form.invalid"
                        >
                            Book Appointment
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="appointment-doctor">
                    <h4>Selected Doctor</h4>
                    <div
                                class="error-message"
                                *ngIf="
                                    form.get('Doctor')?.hasError('required') &&
                                    form.get('Doctor')?.touched
                                "
                            >
                                Please Select a Doctor
                            </div>
                    <div *ngIf="selectedDoctor">
                        <div class="doctor-card">
                            <a
                                routerLink="/doctor-details/{{ doctor.id }}"
                                class="d-block"
                            >
                                <img
                                    src="assets/images/doctor/{{
                                        doctor.image
                                    }}"
                                />
                            </a>
                            <div class="doctor-content">
                                <h3>
                                    <a
                                        routerLink="/doctor-details/{{
                                            doctor.id
                                        }}"
                                        >{{ doctor.name }}</a
                                    >
                                </h3>
                                <span>{{ doctor.specialist }}</span>
                                <div>
                                    <button
                                        type="button"
                                        class="default-btn"
                                        (click)="openDoctorDialog(template)"
                                    >
                                        Change Doctor
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-area">
                        <button
                            *ngIf="!selectedDoctor"
                            type="button"
                            class="default-btn"
                            (click)="openDoctorDialog(template)"
                        >
                            Select a Doctor
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4>Doctors</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div
                    *ngFor="let doctor of doctorLists"
                    class="col-lg-4 col-sm-6"
                >
                    <div class="doctor-card">
                        <a
                            routerLink="/appointment/{{doctor.id}}"
                            class="d-block"
                            (click)="modalRef.hide()"
                        >
                            <img
                                src="assets/images/doctor/{{ doctor.image }}"
                            />
                        </a>
                        <div class="doctor-content">
                            <h3>
                                <a
                                    routerLink="/appointment/{{doctor.id}}"
                                    (click)="modalRef.hide()"
                                    >{{ doctor.name }}</a
                                    
                                >
                            </h3>
                            <span>{{ doctor.specialist }}</span>
                            <div>
                                <button
                                    type="button"
                                    class="default-btn"
                                    routerLink="/appointment/{{doctor.id}}"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    (click)="modalRef.hide()"
                                >
                                    Book Appointment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">
            Close
        </button>
    </div>
</ng-template>
